{% include base_path %}

<!--
{% if site.author.github or site.author.bitbucket or site.atom_feed.hide != true %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="http://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
    {% if site.atom_feed.hide != true %}
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
-->

<div class="page__footer-copyright">
  &copy; 2022 - {{ site.time | date: '%Y' }} {{ site.title }} | 最后更新于 {{ "now" | date: '%Y-%m-%d' }}
  <br />
    <img src="{{ base_path }}/images/gawb.png" style="width: 16px;" />
    <a class="sgawb" href="https://beian.mps.gov.cn/#/query/webSearch?code=32010202012044" target="_blank" rel="nofollow noreferrer">苏公网安备32010202012044号</a>
    &emsp;
    <a class="sicpb" href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noreferrer">苏ICP备2025209728号-1</a>
</div>
